<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Global | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1> GLOBAL LEADERBOARD </h1>

    <table>
        <tr>
            <th></th>
            <% header.forEach (t => { %>
                <th> <%= t.row %> </th>
            <% }) %>
        </tr>

        <tr class="gold">
            <td> 1 </td>
            <td> <%= scores[0].user %> </td>
            <td> <%= scores[0].score %> </td>
            <td> <%= scores[0].time %> </td>
            <td> <%= scores[0].date %> </td>
        </tr>

        <tr class="silver">
            <td> 2 </td>
            <td> <%= scores[1].user %> </td>
            <td> <%= scores[1].score %> </td>
            <td> <%= scores[1].time %> </td>
            <td> <%= scores[1].date %> </td>
        </tr>

        <tr class="bronze">
            <td> 3 </td>
            <td> <%= scores[2].user %> </td>
            <td> <%= scores[2].score %> </td>
            <td> <%= scores[2].time %> </td>
            <td> <%= scores[2].date %> </td>
        </tr>
        
        <% for (let i = 3; i < scores.length; i++) { %>
            <tr>
                <td> <%= i+1 %> </td>
                <td> <%= scores[i].user %> </td>
                <td> <%= scores[i].score %> </td>
                <td> <%= scores[i].time %> </td>
                <td> <%= scores[i].date %> </td>
            </tr>
        <% } %>
    </table>

    <div class="center sticky">
        <button> <a href="/user/menu"> Back </a> </button>
    </div>
</body>
</html>